\#include "tolua_auto_convert.h"

NS_AX_BEGIN

## struct convert logic implementation
#for structType in $structTypes
    #set structInfo = $parsedStructs[structType]

void tolua_get_value(lua_State* L, int loc, ${structInfo.ns_full_name} &value) {
    if (!lua_istable(L, loc)) {
        return;
    }

    #for field in structInfo.public_fields
    lua_getfield(L, loc, "${field.name}");
    ${field.ntype.genGetCode(-1, 'value.%s' % field.name, False)}
    lua_pop(L, 1);
    #end for
}

void tolua_push_value(lua_State* L, const ${structInfo.ns_full_name} &value) {
    lua_newtable(L);
    #for field in structInfo.public_fields
    ${field.ntype.genPushCode('value.%s' % field.name, True)}
    lua_setfield(L, -2, "${field.name}");
    #end for
    luaL_setmetatable(L, "${structInfo.luaClassName}");
}
#end for

NS_AX_END
